*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
     overflow-x: hidden; /*to keep from flowing out vertically*/
     font-family: 'Open Sans', sans-serif;
     overflow-x: hidden;
}

.hero {
     height:34.5vw;
     width: 100%;
     background-color:#2F5BEA;
     background-repeat: no-repeat;
     object-fit: cover;
}
img.first_ppl{
     margin-top: 15.95vw;
     height: auto;
     width: 30%;
     
}

img.second_ppl {
     margin-top: 16.2vw;
     height: auto;
     width: 25%;
}

img.confetti{
     height: 55vw;
     width: 128vw;
     margin-top: -55vw;
     margin-left: -23vw;
}
